  <footer class="bg-light py-3 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-center text-md-start">
          <p class="fw-bold">Мы верим в то, что каждый человек прежде всего личность</p>
        </div>
        <div class="col-md-4 text-center text-md-start">
          <p class="fw-bold ms-auto">
            Адрес: Краснодарский край, Новороссийск <br>
            Телефон: <a href="tel:+79288811509" class="no-underline">+7 (928) 881-15-09</a><br>
            E-mail: optimistnovoross2018@gmail.com <br>
            Соц.Сети:
            <span class="social-icons">
              <a href="https://t.me/django_selfedu" target="_blank">
                <i class="fa-brands fa-telegram fa-lg"></i></a>
              <a href="https://vk.com/id662546453" target="_blank">
                <i class="fa-brands fa-vk fa-lg"></i></a>
              <a href="https://ok.ru/profile/598093818404" target="_blank">
                <i class="fa-brands fa-square-odnoklassniki fa-lg"></i></a>
              <a href="https://api.whatsapp.com/send?phone=79288811509" target="_blank">
                <i class="fa-brands fa-whatsapp fa-lg"></i></a>
            </span>
          </p>

        </div>
      </div>
    </div>
  </footer>