
<header class="p-3 mb-3 border-bottom bg-light">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        {% include "society_main/components/menu.html" %}

<!--        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
<!--          <input type="search" class="form-control" placeholder="Напишите нам..." aria-label="Search">-->
<!--        </form>-->

        <div class="text-end">
          <button type="button" class="btn btn-outline-primary me-2">Вход</button>
          <button type="button" class="btn btn-primary">Регистрация</button>
        </div>

      </div>
    </div>
  </header>