<div class="accordion" id="videoAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="descriptionHeading">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
        Описание
      </button>
    </h2>
    <div id="collapseDescription" class="accordion-collapse collapse show" aria-labelledby="descriptionHeading" data-bs-parent="#videoAccordion">
      <div class="accordion-body">
        <!-- Ваше описание здесь -->
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="videoHeading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVideo" aria-expanded="false" aria-controls="collapseVideo">
        Видео
      </button>
    </h2>
    <div id="collapseVideo" class="accordion-collapse collapse" aria-labelledby="videoHeading" data-bs-parent="#videoAccordion">
      <div class="accordion-body">
         <div class="row mb-4">
    <div class="col-md-6 offset-md-3 col-12">
      <div class="embed-responsive embed-responsive-16by9 d-flex justify-content-center">
        <video controls class="embed-responsive-item">
          <source src="{{ post.video.url }}" class="mx-auto d-block">
        </video>
      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>


