{% load society_main_tags %}


<div class="main-container d-flex">
        <div class="sidebar" id="side_nav">
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
                <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">O</span> <span
                        class="text-white">ОПТИМИСТ</span></h1>
                <button class="btn d-md-none d-block close-btn px-1 py-0 text-white">
                    <i class="fa-solid fa-bars-staggered"></i></button>
            </div>

            {% show_categories cat_selected %}

            <hr class="text-white">
            {% show_all_tags %}


        </div>
        <div class="content">


        </div>
    </div>

