<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-md-2"></div>
        <div class="col-md-8, col-sm-12">
            <div class="p-5">
                <p class="mx-auto d-block img-fluid article-img rounded">
                    <img src="../../../media/imgs_st/2023.12.19/opt-4.jpg">
                </p>
            </div>

  <div class="row">
    <div class="col-md-6">
          <p> 1992 году Генеральная Ассамблея ООН учредила 3 декабря каждого года Международным днем инвалидов.</p>
           <p> Глвная цель ее учреждения - повышение осведомленности и поддержка важных вопросов, касающихся людей с инвалидностью,
              их участия как в общественных событиях, так и в процессах развития.</p>
    </div>

    <div class="col-md-6">
      <img src="../../../media/imgs_st/2023.12.19/opt-4.jpg" class="img-fluid">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img src="image2.jpg" class="img-fluid">
    </div>

    <div class="col-md-6">
     <p>Текст второго блока</p>
     <p>И еще текст</p>
    </div>
  </div>

</div>


<!--    &lt;!&ndash; Второй блок &ndash;&gt;-->
<!--    <div class="row">-->
<!--      <div class="col-md-6">-->
<!--        <img src="image2.jpg" alt="Изображение 2" class="custom-img">-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <div class="custom-section">-->
<!--          <h2>Здесь еще один заголовок</h2>-->
<!--          <p>Некоторый дополнительный текст для второго блока.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Третий блок &ndash;&gt;-->
<!--    <div class="row">-->
<!--      <div class="col-md-6">-->
<!--        <div class="custom-section">-->
<!--          <h2>Еще один заголовок</h2>-->
<!--          <p>Дополнительный текст для третьего блока.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <img src="image3.jpg" alt="Изображение 3" class="custom-img">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->