<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-md-2"></div>
        <div class="col-md-8, col-sm-12">
            В 1992 году Генеральная Ассамблея ООН учредила 3 декабря каждого года Международным днем инвалидов.
            Глвная цель ее учреждения - повышение осведомленности и поддержка важных вопросов, касающихся людей с
            инвалидностью,
            их участия как в общественных событиях, так и в процессах развития.

            <p class="mx-auto d-block img-fluid rounded">
                <img src="../../../static/society_main/images/articles/art3/opt-1.jpg">


                В Новороссийске проживает более 18 000 людей с инвалидностью, многие из них - люди с активной жизненной
                позицией, доказавшие, что инвалидность - не приговор! (Источник: https://t.me/nmayorova_admnvrsk)

                3 декабря НГОНОЛОВЗ «ОПТИМИСТ» в ГДК города Новороссийска отметило День инвалида большим концертом «С
                ОПТИМИЗМОМ В БУДУЩЕЕ!».

                Общество «Оптимист» создано около семи лет назад с целью объединения людей с проблемами здоровья,
                организации их досуга, общения, социализации. На сегодняшний день общество насчитывает более 260
                человек. В их числе инвалиды всех категорий, в т.ч. 38 детей-инвалидов, из них 7 колясочников. Первым
                руководителем общества был Сергей Леонидович Мельников.

                <img src="../../../static/society_main/images/articles/art3/opt-2.jpg">

                С приветственным словом на празднике выступил Председатель общества Валерий Александрович Гаврилов.

                - В последнее время в нашем обществе все чаще нас называют лицами, или людьми с ограниченными
                возможностями здоровья! Я всегда считал, что это неправильно, так как мы, наоборот, являемся людьми с
                неограниченными возможностями! Неограниченными возможностями интеллекта, возможностями артистизма,
                музыкальными возможностями и прочими, в том числе физическими. Многие Оптимисты занимаются в театральной
                студии, поют в вокальном ансамбле, танцуют, увлекаются футболом, теннисом, шахматами, шашками. И это все
                делает нашу жизнь ярче, интереснее, богаче во всех смыслах этого слова!

                <img src="../../../static/society_main/images/articles/art3/opt-3.jpg">

                Свои поздравления дарили: спортивная школа «Надежда», певица Ольга Полянская, вокалист Лев Бурмистров
                вместе с режиссером и ведущей Ириной Вартаньян.

                <img src="../../../static/society_main/images/articles/art3/opt-4.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-5.jpg">

                В концерте приняли участие и сами члены общества «Оптимист». Актеры Инклюзивного театра-студии «Город
                мечты» под руководством режиссера Светланы Залевской показали различные веселые театральные миниатюры:
                «Котенок», «Пенсия», «Коленка» и т.д. Зал заразительно смеялся. В театре-студии «Город мечты»
                занимаются:

                <img src="../../../static/society_main/images/articles/art3/opt-6.jpg">

                Круглов Денис, Коротков Даниил, Залевский Богдан, Алмакаева Тальяна, Викторов Юрий, Гольдефус Ирина,
                Долгушина Раиса, Долгушина Вера, Рябцев Илья, Смирнов Руслан, Мазур Анастасия.

                Инклюзивная вокальная студия «Разноцветье» под руководством Анны Шукшиной тоже состоит из ОПТИМИСТов.
                В исполнении группы звучали задушевные любимые песни. В студии занимаются: Викторов Юрий, Несветаева
                Софья, Круглов Денис, Смирнов Руслан, Коротков Даниил, Мазур Анастасия, Трофимов Павел, Егорова Татьяна,
                Савин Николай, Довгопол Анастасия, Алмакаева Тальяна.

                <img src="../../../static/society_main/images/articles/art3/opt-7.jpg">


                Танцевальный коллектив «Шаг вперед» под руководством Вербис Полины Александровны исполнил «Парадный
                вальс» и танец в исполнении семьи Мартынович (мамы с сыном Василием).

                <img src="../../../static/society_main/images/articles/art3/opt-8.jpg">

                В студии занимаются: Викторов Юрий, Довгонол Анастасия, Истомина Татьяна, Круглов Денис, Мартынович
                Юлия и Василий, Серова Олеся, Ткачук Людмила, Царедворцевы Вера и Николай, Чернаусенко Евгений, Щербин
                Валерий, Яровая Ксения и Коротков Даниил. Члены ансамбля - тоже ОПТИМИСТы.

                <img src="../../../static/society_main/images/articles/art3/opt-9.jpg">

                Оптимист Татьяна Кириченко поздравила всех чтением произведений русских и советских поэтов.

                <img src="../../../static/society_main/images/articles/art3/opt-10.jpg">

                Концерт продолжался два часа, и аплодисменты не смолкали.

                Отзывы ОПТИМИСТОВ о концерте:

                - Спасибо всем оптимистам за прекрасную организацию концерта, браво команде с неограниченными
                возможностями (Стефанкина Светлана).

                <img src="../../../static/society_main/images/articles/art3/opt-11.jpg">

                - Огромная благодарность за приглашение, было честью выступать на мероприятии. Номера - просто супер.
                Все участники с безграничными возможностями. Процветания, здоровья, проявления талантов (Юлия и Василий
                Мартынович).

                <img src="../../../static/society_main/images/articles/art3/opt-12.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-13.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-14.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-15.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-16.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-17.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-18.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-19.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-20.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-21.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-22.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-23.jpg">

                <img src="../../../static/society_main/images/articles/art3/opt-24.jpg">

            <p style="color: #93243c;">
                Автор: Марина ДАРКИНА, фото предоставлено группой "ОПТИМИСТ"
                15.12.2023 18:57
            </p>
            <div class="col-md-2">
                <a href="http://www.novodar.ru/index.php/originaldocspunkt/13476-stptmzmvbdshh-12-2023" target="_blank">Источник: novodar.ru</a>
            </div>
</div>
    </div>
</div>
