{% extends "society_main/base.html" %}
{% load static %}

{% block content %}

<main>

  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="p-5 shadow-sm">
          <h1 class="display-4 text-start">О НАС</h1>
          <br>

          <p class="lead mb-4 ">
            <strong>ГОРОДСКАЯ ОБЩЕСТВЕННАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ ЛЮДЕЙ С
                        ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ «ОПТИМИСТ» </strong>
          </p>

          <p>
            Наша организация существует уже около восьми лет и состоит из инвалидов всех
            существующих категорий, их официальных представителей,
            волонтеров и друзей общества.
          </p>

          <p>
            Официально зарегистрирована в мае 2018 года, на сегодняшний день насчитывает более 200
            действующих членов.
          </p>

          <h2 class="display-6 mb-4">Учредителями общества «ОПТИМИСТ» являются:</h2>

          <ul>
            <li><strong>МЕЛЬНИКОВ СЕРГЕЙ ЛЕОНИДОВИЧ – ИНВАЛИД 2 ГРУППЫ</strong></li>
            <li><strong>МОКШИН АЛЕКСАНДР ВИКТОРОВИЧ – инвалид 1 группы</strong></li>
            <li><strong>ГАВРИЛОВ ВАЛЕРИЙ АЛЕКСАНДРОВИЧ –инвалид 1 группы</strong></li>
          </ul>

          <p class="mt-4">
            Целью создания общества было объединение людей имеющих похожие жизненные проблемы,
            для организации совместного досуга и взаимопомощи, проведения развлекательных мероприятий,
            выездов на природу, экскурсионных поездок, совместных посещений выставок, концертов и
            театральных мероприятий и просто теплого человеческого общения.
          </p>

        </div>
      </div>

<!--  <div class="col-md-3 sidebar mx-auto">-->
<!--  <img src="{% static 'society_main/images/Оптимист_квадрат.jpg' %}" class="img-fluid" alt="Картинка оптимист">-->
<!--</div>-->

    </div>

  </div>


</main>



{% endblock %}