{% extends "society_main/base.html" %}

{% block content %}


<main>

  <div class="container">

    <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5" style="background-image: url('img.jpg');">
      <h1 class="mb-3 h2">О НАС</h1>

      <p class="mb-3 lead">
        Оптимист ведёт социальную и психологическую поддержку людей с ограниченными возможностями
          здоровья города Новороссийск и его муниципальных субьектов!
      </p>
    </div>

    <!-- Остальной контент -->

  </div>

</main>


{% endblock %}