{% extends "society_main/base.html" %}


{% block content %}



<main>

  <div class="container pt-4 pb-4">

    <h1 class="text-center">Контакты</h1>

    <div class="row">

<div class="col-md-6">

  <h3 class="mt-4"><span class="fw-bold">Адрес:</span></h3>
  <p class="ms-3">353905, г. Новороссийск, ул. Набережная Адмирала Серебрекова, д. 39, кв. 53</p>

  <h4 class="mt-4"><span class="fw-bold">Председатель НГО:</span></h4>
  <p class="ms-4 fs-5 fw-bold">Гаврилов Валерий Андреевич</p>
  <p class="ms-4"><span class="fw-bold">Телефон:</span> <a href="tel:+79288811509" class="no-underline">+7 (928) 881-15-09</a></p>
  <p class="ms-4"><span class="fw-bold">Email:</span> optimistnovoross2018@gmail.com</p>

</div>

      <div class="col-md-6">
        <h3 class="mt-4">Напишите нам:</h3>
        <br>

<form action="" method="POST" class="" id="contactForm">
  {% csrf_token %}
  <div class="form-error">{{ form.non_field_errors }}</div>
  <div class="mb-3 form-group">
    {{ form.name.label_tag }}
    {{ form.name }} <br>
  </div>
  <div class="mb-3 form-group">
    {{ form.email.label_tag }}
    {{ form.email }} <br>
  </div>
  <div class="mb-3 form-group">
    {{ form.message.label_tag }}
    {{ form.message }} <br>
  </div>
    <div class="mb-3 form-group">
    {{ form.captcha }}<br>
  </div>
  <div class="mb-3 form-group d-flex align-items-start">
    <label for="{{ form.checkbox.id_for_label }}" class="custom-checkbox ps-3">
      {{ form.checkbox }}
      <a class="no-underline " href="{% url 'policy' %}" target="_blank">
      <p class=" mt-2 ps-3"> Я даю своё согласие на обработку персональных данных в соответствии с политикой в отношении обработки персональных данных НГО «Оптимист»</p>
      </a>
    </label>
  </div>
  <button type="submit" class="btn btn-primary mt-2 ">
    <i class="fa fa-solid fa-paper-plane"></i> Отправить
  </button>
</form>
      </div>
    </div>
  </div>
</main>

{% endblock %}