{% extends "society_main/base.html" %}


{% block content %}



<main>

  <div class="container pt-4 pb-4">

    <h1 class="text-center">Контакты</h1>

    <div class="row">

<div class="col-md-6">

  <h3 class="mt-4"><span class="fw-bold">Адрес:</span></h3>
  <p class="ms-4">г. Новороссийск, ул. Ленина, д. 5, офис 123</p>

  <h4 class="mt-4"><span class="fw-bold">Директор:</span></h4>
  <p class="ms-4 fs-5 fw-bold">Авдеев Валентин</p>
  <p class="ms-4"><span class="fw-bold">Телефон:</span> +7 (495) 123-45-67</p>
  <p class="ms-4"><span class="fw-bold">Email:</span> info@company.com</p>

</div>

      <div class="col-md-6">

        <h3 class="mt-4">Напишите нам:</h3>
        <br>
        <form method="POST">

          {% csrf_token %}
          <div class="mb-3 form-group">
            <input type="text" id="name-input" class="form-control form-style" name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}" required>
            <label for="name-input" id="name-label" class="form-label">Ваше имя</label>
            {{ form.name.errors }}
          </div>

          <br>
          <div class="mb-3 form-group">
            <input type="email" id="email-input"  class="form-control form-style " name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}" required>
            <label for="email-input" id="email-label" class="form-label">Email</label>
            {{ form.email.errors }}
          </div>


          <br>
          <div class="mb-3 form-group">
            <textarea id="message-input" class="form-control form-style" name="{{ form.message.name }}">{{ form.message.value|default_if_none:'' }}</textarea>
            <label for="message-input" id="message-label" class="form-label">Сообщение</label>
            {{ form.message.errors }}
          </div>
          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>

      </div>

    </div>

  </div>

</main>



<script>
  ["name", "email", "message"].forEach(function (field) {
    document.getElementById(`${field}-input`).addEventListener("input", function (event) {
      const label = document.getElementById(`${field}-label`);
      if (event.target.value !== "") {
        label.classList.add("label-up");
      } else {
        label.classList.remove("label-up");
      }
    });
  });
</script>

{% endblock %}