{% extends "society_main/base.html" %}




{% block content %}
<div class="content-wrapper">
{% include "society_main/components/sidebar.html" %}

<!--Display artickles-->
 <div class="articles-content">

<div class="articles-content px-3 pt-4">
    <h2 class="fs-5 fw-bold"> Статьи </h2>
    <hr class="text-white">
        <ul class="list-group list-articles">
            {% for p in posts %}
                {% if p.is_published %}
                <li><div class="article-panel">
             <p class="first">Категория: {{ p.cat.name }}</p>
             <p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
    </div>
                    <li class="list-group-item-action"><h2 class="text-bold">{{p.title}}</h2>
                {% if p.photo %}
                    <p><img class="mx-auto img-fluid img-article-left thumb rounded" src="{{p.photo.url}}"></p>
                {% endif %}
                    {% autoescape off %}
                    {{ p.content|linebreaks|truncatewords:50 }}
                    {% endautoescape %}
                    <div class="d-flex">
                    <p class="btn btn-lg btn-primary ms-auto me-4" onclick="location.href='{{ p.get_absolute_url }}'">
                        <i class="fa-brands fa-readme"></i>  Читать</p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

</div>

 </div>
</div>
{% endblock %}
